<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>JSHint, The JavaScript Code Quality Tool</title>
    <meta name="description" content="The JavaScript Code Quality Tool">
    <meta name="author" content="Anton Kovalyov">
    <meta name="author" content="JSHint Community">
    <meta name="designer" content="Jamie Gillar">
    <meta name="designer" content="Divya Manian">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/jquery.js"></script>
    <script src="js/jquery.tmpl.js"></script>
    <script src="js/jshint.js"></script>
    <script src="js/core.js"></script>
  </head>

  <body>
    <header class="clearfix">
      <h1>JSHint</h1>

      <nav>
        <ul>
          <li><a href="jshint.js">Download</a></li>
          <li><a href="#docs">Learn</a></li>
          <li><a href="http://github.com/jshint/jshint/">Contribute</a></li>
        </ul>
      </nav>
    </header>

    <article>
      <p>JSHint is a tool to analyze JavaScript programs and detect various errors.
      It works by parsing the source code, not running it, so it can assume different
      execution environments. JSHint is very flexible so you can easily adjust it to
      your project's coding conventions.</p>

      <p>JSHint is an open-source project that is supported and maintained by the
      JavaScript developers community. The source code is available on <a href="http://github.com/jshint/jshint/">GitHub</a>.</p>
    </article>

    <section id="applyarea">
      <div class="code">
        <h1>Your Code</h1>
        <textarea placeholder="// Your code goes here" id="code"></textarea>
        <div class="buttons">
          <button>JSHint</button>
        </div>
      </div>

      <div class="sidebar">
        <nav>
          <ul>
            <li data-target="options">Options</li>
            <li data-target="output"><a href="#">Output</a></li>
          </ul>
        </nav>

        <div class="options wrapper">
          <div class="option">
            <input type="checkbox" name="bitwise" id="option_bitwise">
            <label for="option_bitwise">Disallow bitwise operators</label>
          </div>

          <div class="option">
            <input type="checkbox" name="boss" id="option_boss">
            <label for="option_boss">Allow assignments inside if/for/while/do</label>
          </div>

          <div class="option">
            <input type="checkbox" name="curly" id="option_curly">
            <label for="option_curly">Require curly braces around <strong>all</strong> blocks</label>
          </div>

          <div class="option">
            <input type="checkbox" name="debug" id="option_debug" checked>
            <label for="option_debug">Allow debugger statements</label>
          </div>

          <div class="option">
            <input type="checkbox" name="devel" id="option_devel" checked>
            <label for="option_devel">Allow logging statements</label>
          </div>

          <div class="option">
            <input type="checkbox" name="eqeqeq" id="option_eqeqeq">
            <label for="option_eqeqeq">Require ===</label>
          </div>

          <div class="option">
            <input type="checkbox" name="evil" id="option_evil">
            <label for="option_evil">Tolerate eval</label>
          </div>

          <div class="option">
            <input type="checkbox" name="forin" id="option_forin" checked>
            <label for="option_forin">Require for..in statements to be filtered</label>
          </div>

          <div class="option">
            <input type="checkbox" name="laxbreak" id="option_laxbreak">
            <label for="option_laxbreak">Don't check line breaks</label>
          </div>

          <div class="option">
            <input type="checkbox" name="passfail" id="option_passfail">
            <label for="option_passfail">Stop on the first error</label>
          </div>

          <div class="option">
            <input type="checkbox" name="undef" id="option_undef" checked>
            <label for="option_undef">Require variables to be declared before usage</label>
          </div>

          <div class="option">
            <input type="checkbox" name="white" id="option_white">
            <label for="option_white">Apply strict whitespace rules</label>
          </div>

          <h4>Environment:</h4>
          <div class="option">
            <input type="checkbox" name="browser" id="option_browser" checked>
            <label for="option_browser">Browser</label>
          </div>

          <div class="option">
            <input type="checkbox" name="es5" id="option_es5">
            <label for="option_es5">ES5</label>
          </div>

          <div class="option">
            <input type="checkbox" name="node" id="option_node">
            <label for="option_node">Node.js</label>
          </div>

          <div class="option">
            <input type="checkbox" name="rhino" id="option_rhino">
            <label for="option_rhino">Rhino</label>
          </div>

          <div class="option">
            <input type="checkbox" name="widget" id="option_widget">
            <label for="option_widget">Yahoo! Widget</label>
          </div>
          <p>Want an option for something else? <a href="https://github.com/jshint/site/issues">File a ticket</a></p>
        </div>

        <div class="output wrapper hidden">
          <p>Enter your code into the textarea on the left and press JSHint.</p>
        </div>
      </div>
    </section>

    <section id="docs">
      <h1>Documentation</h1>

      <div>
        <article>
          <h2>Usage</h2>

          <p>JSHINT is a global function. It takes two parameters.</p>

          <p><code>var result = JSHINT(source, options);</code></p>

          <p>The first parameter is either a string or an array of strings.
          If it is a string, it will be split on '\n' or '\r'. If it is an
          array of strings, it is assumed that each string represents one line.
          The source can be a JavaScript or a JSON text.</p>

          <p>If it checks out, JSHINT returns true. Otherwise, it returns false.</p>

          <p>If false, you can inspect JSHINT.errors to find out problems or request a
          complete data structure using JSHINT.data(). For more information, read JSHint
          source code (it has useful comments).</p>

          <p>You can also set options in-file.</p>

          <p><code>/*jshint evil: true, boss: true */</code></p>

          <p>And let JSHint know what global variables it should expect.</p>

          <p><code>/*global DISQUS: true, jQuery: false */</code></p>

          <p>Above, JSHint will allow you to override DISQUS but complain if you try to
          override jQuery.</p>
        </article>

        <article>
          <h2>How JSHint is different from JSLint</h2>

          <p>JSHint is a fork of Douglas Crockford's <a href="http://jslint.com/">JSLint</a>
          that does not tyrannize your code. It is designed to detect errors that actually break
          your code while skipping things that, according to Crockford, &ldquo;are known to
          contribute mistakes in projects&rdquo;. In other words, JSHint is a fork of JSLint for
          the real world where people use different styles and conventions.</p>

          <p>The most important part is that <a href="http://github.com/jshint/jshint/">JSHint
          is developed and supported</a> by the JavaScript developers community and not by one
          very opinionated person.</p>
        </article>

        <article class="last">
          <h2>Environments</h2>

          <p>You can also let JSHint know when your code is running in a specific environment.
          This will help it to recognize specific pre-defined global variables.</p>

          <p>Currently supported environments:</p>

          <ul>
            <li>Browser (browser)</li>
            <li><a href="http://en.wikipedia.org/wiki/ECMAScript#ECMAScript.2C_5th_Edition">ES5</a> (es5)</li>
            <li><a href="http://nodejs.org/">Node.js</a> (node)</li>
            <li><a href="http://www.mozilla.org/rhino/">Rhino</a> (rhino)</li>
          </ul>
        </article>
      </div>

      <h1>Options</h1>

      <div>
        <article>
          <h2>bitwise</h2>

          <p>If true, JSHint will prohibit the use of bitwise operators.</p>

          <p>JavaScript supports bitwise operators but it does not have an integer type.
          The bitwise operators convert their operands from floating-point to integers and
          back and they are not as efficient as they are in other languages.</p>
        </article>

        <article>
          <h2>boss</h2>

          <p></p>
        </article>

        <article>
          <h2>curly</h2>

          <p>If true, JSHint will require you to always use blocks with structured elements such as <code>if</code> and <code>while</code>.</p>
        </article>

        <article>
          <h2>debug</h2>

          <p>If true, JSHint will allow usage of <code>debugger</code> statements. This statement is used to set a breakpoint in modern browsers.</p>

          <p>It is a good idea to not to ship your code with <code>debugger</code> statements in it.
        </article>

        <article>
          <h2>devel</h2>

          <p>If true, JSHint will allow usage of logging functions such as <code>console.log</code> and <code>alert</code>.</p>

          <p>Using <code>console.log</code> in the production code can
          be a bad idea if you expect it to be run in the Internet Explorer. IE does not support this function and fires an exception when you try to use it.</p>
        </article>

        <article>
          <h2>eqeqeq</h2>

          <p>If true, JSHint will require you to use <code>===</code> and <code>!==</code> for all comparisons.</p>

          <p>The <code>==</code> and <code>!=</code> operations do type coercion before comparing. Unless you know what are you
          doing, you should always use <code>===</code> or <code>!===</code> when comparing to 0, '', undefined, null, false or true.</p>
        </article>

        <article>
          <h2>evil</h2>

          <p>If true, JSHint will allow the use of <code>eval</code>.</p>

          <p>The <code>eval</code> function provides access to the JavaScript compiler.
          It is sometimes useful but more often its use will open up your code for injection
          attacks and make debugging more difficult. It is probably a good idea to never use it
          unless you know what you are doing.</p>

          <p>Note, that the <code>Function</code> constructor is another form of
          <code>eval</code>. Also, when given string arguments (as opposed to function),
          <code>setTimeout</code> and <code>setInterval</code> will act as <code>eval</code>.</p>
        </article>

        <article>
          <h2>forin</h2>

          <p>If true, JSHint will disallow usage of <code>for in</code> without <code>hasOwnProperty</code>.</p>

          <p>The <code>for in</code> statement is used to loop through the names of properties of an object, including those inherited through the prototype chain. Method <code>hasOwnPropery</code> is used to check if property belongs to an object or was inherited through the prototype chain.</p>
        </article>

        <article>
          <h2>immed</h2>

          <p></p>
        </article>

        <article>
          <h2>laxbreak</h2>

          <p></p>
        </article>

        <article>
          <h2>newcap</h2>

          <p></p>
        </article>

        <article>
          <h2>noarg</h2>

          <p></p>
        </article>

        <article>
          <h2>noempty</h2>

          <p></p>
        </article>

        <article>
          <h2>nonew</h2>

          <p></p>
        </article>

        <article>
          <h2>nomen</h2>

          <p></p>
        </article>

        <article>
          <h2>onevar</h2>

          <p></p>
        </article>

        <article>
          <h2>passfail</h2>

          <p></p>
        </article>

        <article>
          <h2>plusplus</h2>

          <p></p>
        </article>

        <article>
          <h2>regexp</h2>

          <p></p>
        </article>

        <article>
          <h2>undef</h2>

          <p></p>
        </article>

        <article>
          <h2>strict</h2>

          <p>If true, JSHint will require you to use <code>"use strict";</code> pragma.</p>

          <p>Strict Mode is a new feature in ECMAScript 5 that allows you to place a program, or a function, in a "strict" operating context. This strict context prevents certain actions from being taken and throws more exceptions. For more information, see
          <a href="http://ejohn.org/blog/ecmascript-5-strict-mode-json-and-more/">ECMAScript 5 Strict Mode, JSON, and More</a> by John Resig.</p>
        </article>

        <article class="last">
          <h2>white</h2>

          <p></p>
        </article>
      </div>
    </section>

    <footer class="clearfix">
      <p>JSHint, by JSHint Community.</p>
    </footer>

    <!-- Templates -->
    <script id="failOutput" type="text/x-jquery-tmpl">
      <p>The code check <mark>failed.</mark></p>

      {{if errors}}
        <h4>Errors:</h4>

        <ul>
        {{each(i, error) errors}}
          <li>
            <p><strong>Line ${error.line}</strong><code>${error.evidence}</code></p>
            <p>${error.reason}</p>
          </li>
        {{/each}}
        </ul>
      {{/if}}
    </script>

    <script id="passOutput" type="text/x-jquery-tmpl">
      <p>The code check <mark>passed.</mark></p>

      {{if implieds}}
        <h4>Implied globals:</h4>

        <ul>
        {{each(i, global) implieds}}
          <li><strong>${global.name}</strong> on lines ${global.line.join(',')}</li>
        {{/each}}
        </ul>
      {{/if}}
    </script>

    <script id="emptyOutput" type="text/x-jquery-tmpl">
      <blockquote>He who fights with monsters should look to it that he himself does not become a monster. And when you gaze long into an abyss the abyss also gazes into you.</blockquote>
      <cite>Friedrich Nietzsche</cite>
    </script>
  </body>
</html>