<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Page not found</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold">
    <link rel="stylesheet" href="/src/css/bootstrap.css">
    <style>
      html, body {
        height: 100%;
        background-color: #e3e9ed;
      }

      body {
        font-size: 10pt;
        font-family: "Droid Sans", Helvetica, Arial, Sans-Serif;
        color: #444;
      }

      div.container {
        width: 600px;
        margin-top: 150px;
      }

      h1 {
        font-size: 20pt;
      }

      h1 span {
        font-weight: normal;
      }

      p {
        margin: 30px 0;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1>JSHint: <span>page not found.</span></h1>
      <p>Sorry, but whatever you are trying to access doesn't exist. If you feel like this is a
      mistake on our side, file a bug report. Thanks!</p>
      <p><a href="https://github.com/jshint/site/issues/new" class="btn primary">File a report</a></p>
    </div>
  </body>
</html>