html, body {
  height: 100%;
  background-color: #E3E9ED;
}

body {
  font-size: 10pt;
  font-family: "PT Sans", Helvetica, Arial, Sans-Serif;
  color: #444;
}

a {
  color: #4183C4;
}

pre, code {
  font-family: "Inconsolata";
  font-size: 10pt;
}

h1, h2, h3, h4 {
  font-family: "Droid Sans", Helvetica, Arial, Sans-Serif;
}

.topbar h3 {
  font-family: "Droid Sans", Helvetica, Arial, Sans-Serif;
  font-size: 120%;
  color: #fff;
}

div.options {
  padding-top: 60px;
}

div.options h3 {
  margin-bottom: 10px;
}

div.report ul.jshint-errors {
  margin: 15px;
  list-style-type: none;
}

div.report ul.jshint-errors li {
  margin-bottom: 15px;
}

.editorArea .CodeMirror {
  background-color: #fff;
  border-radius: 3px;
  border: solid 1px #999;
  margin-bottom: 20px;
}

div.footer {
  margin: 0 auto;
  padding: 50px 0 25px 0;
  text-align: center;
}

div.page {
  margin-top: 80px;
}

div.page h2 {
  margin-bottom: 10px;
}

div.page div.row {
  border-bottom: solid 1px #ddd;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

div.page div.span4 ul {
  margin: 0;
  list-style-type: none;
}

div.page div.span4 ul li {
  margin-bottom: 10px;
}

div.page div.title {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

div.page div.options-docs table {
  background-color: #fff;
  border: solid 1px #ccc;
  border-radius: 3px;
}

div.page div.options-docs table thead th {
  border-bottom-width: 1px;
  padding: 20px;
}

div.page div.options-docs table td {
  line-height: 140%;
  padding: 20px;
}

div.page div.options-docs table td.name {
  width: 120px;
  vertical-align: top;
}

div.page div.options-docs table td ol li {
  color: #444;
  margin-bottom: 5px;
}